.form-div {
    width: 20em;
    text-align: center;
    margin: 4em auto;
    border: 1px solid #3aaba9;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 1px 1px 2px #aaa;
    background-color: #ffffff;
    box-shadow: 1px 1px 2px #aaa;;
}

form {
    margin: 1em 2em;
    font-family: Open Sans ;
}

form > input, textarea {
    font-size: 1em;
    margin: 0.5em 0;
    padding: 1em 1em;
    border-bottom: 1px solid #3aaba9;
    border-top: none;
    border-right: none;
    border-left: none;
}

textarea {
    font-weight: bold;
}

form > p{ 
    display: none;
    color: red;
}

button {
    margin-top: 0.5em;
    color: #3aaba9;
    background-color: #ffffff;
    padding: 1em;
    border: 1px solid #3aaba9;
    border-radius: 5px;
}

.option {
    text-align: center;
}

.option a {
    color: #3aaba9;
}

.option a:hover {
    text-decoration: underline;
}