* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #481329;
  --text-color: #3859e4;
  --header-color: #effe43;
  --background-color: darkcyan;
  --botton-color: #943ffe;
  --border-color: #ef3233;
  --link-color: #443344;
  --icon-color: #fe23f3;
  --border-radius: 5px;
  --box-shadow-color: #454344;
}

body {
  background-color: var(--background-color);
}

h1 {
  font-weight: 600;
  font-size: 5em;
  color: var(--header-color);
}

h2 {
  font-weight: 300;
  font-size: 2.5em;
  color: var(--header-color);
}

h3 {
  font-weight: 400;
  font-size: 2em;
  color: var(--header-color);
}

ul li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.right {
  text-align: right;
}

nav {
  display: flex;
  justify-content: space-between;
  height: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 1px 1px 2px var(--box-shadow-color);
}

.brand {
  padding: 1.5em;
}

nav .nav-links {
  display: flex;
}

nav .nav-links li {
  padding: 1.5em;
}

nav .nav-links a {
  text-decoration: none;
  color: var(--link-color);
  transition: all 2s ease;
}

nav .nav-links li a:hover {
  color: var(--text-color);
}

nav .resume a {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 10px 12px;
}

nav .bar {
  display: none;
}

main {
  margin: 4em 7em;
}

.intro {
  min-height: 20em;
  width: 80%;
  transform: translateY(-10em);
  transform-origin: bottom;
  margin-bottom: 2em;
  animation: slidein 1.3s ease;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  to {
    transform: translateY(1em);
  }
}

.intro a {
  margin-top: 2em;
  display: inline-block;
  text-decoration: none;
  color: var(--link-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 10px 20px;
}

#about .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2em;
}

.about-text {
  margin-top: 0.5em;
  line-height: 2em;
  font-weight: 400;
  font-size: 1.3em;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  width: 3em;
}

.skills ul li::before {
  content: "\789";
}

.box-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

.image-container {
  margin: 1em auto;
  position: relative;
}

.image img {
  margin-top: 2em;
  height: 15em;
  width: 15em;
  border-radius: var(--border-radius);
}

.image-frame {
  position: absolute;
  z-index: -1;
  top: 3em;
  left: 15px;
  height: 15em;
  width: 15em;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

#projects {
  margin: 2em 0;
}

.project {
  position: relative;
  margin-top: 2em;
  height: 20em;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.project img {
  height: inherit;
  width: inherit;
}

.project-overlay {
  position: absolute;
  top: 0;
  opacity: 0;
  background-color: red;
  height: 20em;
  width: 100%;
  padding: 10px 1em;
  transition: all 1s;
}

.project-overlay:hover {
  opacity: 0.5;
}

.project-details {
  margin-top: 10%;
}

.project-details p {
  font-weight: 300;
  font-size: 1em;
  word-wrap: break-word;
  color: var(--text-color);
}

.project-details div {
  padding: 10px 0;
}

.project-details ul li {
  display: inline-block;
  padding: 10px 5px;
}

.project-details ul li a {
  padding: 5px;
  text-decoration: none;
  color: var(--link-color);
}

footer {
  text-align: center;
  position: relative;
}

footer .social-links::before {
  content: "";
  background-color: var(--border-color);
  position: absolute;
  top: 45%;
  left: 10px;
  height: 2px;
  width: 40%;
}

footer .social-links::after {
  content: "";
  background-color: var(--border-color);
  position: absolute;
  top: 45%;
  right: 10px;
  height: 2px;
  width: 40%;
}

footer .social-links li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  padding: 1em;
}

footer .social-links li a {
  font-size: 1.2em;
}

@media screen and (max-width: 800px) {
  main {
    margin: 5em 2em;
  }

  .intro {
    width: 100%;
  }

  h1 {
    font-weight: 400;
    font-size: 4em;
  }

  #about .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .box-container {
    display: flex;
    flex-direction: column;
  }

  .project-overlay {
    opacity: 0.5;
  }

  footer .social-links::before {
    width: 20%;
  }

  footer .social-links::after {
    width: 20%;
  }
}

@media screen and (max-width: 680px) {
  nav .nav-links {
    display: none;
  }

  nav .nav-links-toggle {
    display: flex;
    flex-direction: column;
    background-color: red;
    height: 100vh;
    width: 100vw;
    padding-top: 3em;
    align-items: center;
    font-size: large;
    line-height: 3em;
    position: relative;
  }

  nav .resume a {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 10px 20px;
  }

  nav .bar {
    display: block;
    font-size: 20px;
    color: var(--link-color);
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;
  }
}
